/*================================================
    VARIABLES
  ================================================
*/
/*================================================
BASE STYLES
================================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%; }

h1,
h2 {
  font-weight: 600;
  color: #4c545d; }

h1 {
  font-size: 3.5rem;
  letter-spacing: -1px; }

h2 {
  font-size: 2.5rem; }

p {
  color: #9fabb2; }

footer {
  margin-top: 10rem;
  padding-block: 5rem;
  background-color: #e8e8e8;
  text-align: center; }

.footer__logo {
  height: 4rem;
  width: 4rem; }

.footer__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem; }

.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem; }
  .footer__nav-container {
    flex-basis: 30rem; }
    @media screen and (min-width: 34.375em) {
      .footer__nav-container {
        flex-basis: 70%;
        justify-self: flex-end; } }
  @media screen and (min-width: 34.375em) {
    .footer__nav {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); } }
  .footer__nav a {
    color: #4c545d;
    text-decoration: none;
    font-weight: 500; }
    .footer__nav a:hover {
      color: #26baa4; }

.icon {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer; }
  .icon:hover {
    background-color: #26baa4; }

.socials .icon + .icon {
  margin-left: 1rem; }

/*================================================
HEADER STYLES
================================================
*/
.header {
  padding-top: 10rem;
  text-align: center;
  background-image: url(../images/bg-header-mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 34.375em) {
    .header {
      background-image: url(../images/bg-header-desktop.png); } }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
  .header__logo {
    margin-bottom: 3rem; }

/*  UTILITY COMPONENTS
================================================
*/
.container {
  width: calc(min(110rem, 90vw));
  margin-inline: auto; }

.container__small {
  width: calc(min(68rem, 90vw));
  margin-inline: auto; }

.header .btn__container {
  align-self: stretch; }

.btn {
  cursor: pointer;
  border: 0;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 700;
  padding: 1.25rem 3.25rem;
  color: #fff;
  box-shadow: 0 0.75rem 1rem rgba(76, 84, 93, 0.2);
  transition: all 0.2s; }
  .btn__container {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media screen and (min-width: 34.375em) {
      .btn__container {
        flex-direction: row;
        justify-content: center; } }
  .btn--ios {
    background-color: #26baa4; }
  .btn--mac {
    background-color: #6173ff; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
    /* decrement blurry in the same proportion as Y to get the best effects*/ }

.flex__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem; }
  .flex__stack > * {
    flex-basis: 100%; }
  .flex__stack--wrap {
    max-width: 45rem;
    flex-basis: calc( calc(80rem - 100%) * 999);
    flex-grow: 1; }

.margin-bottom__small {
  margin-bottom: 1rem; }

.margin-bottom__big {
  margin-bottom: 4rem; }

/*================================================
MAIN & ARTICLE STYLES
================================================
*/
/*  TRACK
================================================
*/
.track {
  margin-top: 10rem;
  text-align: center; }
  .track__heading {
    margin-bottom: 8rem; }
  .track.flex__stack {
    gap: 5rem; }
  .track > .flex__stack--wrap {
    text-align: left; }
  @media screen and (min-width: 50em) {
    .track__feature {
      display: flex;
      align-items: center;
      gap: 5rem;
      justify-content: flex-start; }
      .track__feature > * {
        flex-basis: 50%; } }
  .track__desktop {
    overflow: hidden; }
    .track__desktop > img {
      max-height: 40rem;
      margin-inline: auto; }
    @media screen and (min-width: 50em) {
      .track__desktop > img {
        width: 105%;
        max-height: none;
        transform: translateX(-5%); } }
  .track__details {
    margin-top: 5rem; }
    @media screen and (min-width: 50em) {
      .track__details {
        margin-top: 0;
        text-align: left;
        min-width: 25rem;
        max-width: 38rem; } }
    .track__details > * + * {
      margin-top: 3rem; }

/*  ACCESS
================================================
*/
.access {
  margin-top: 10rem;
  text-align: center; }
  .access img {
    margin-top: 8rem; }

/*  SUPERCHARGE
================================================
*/
.supercharge {
  text-align: center; }
  .supercharge__feature {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    .supercharge__feature > img {
      height: 4rem; }

/*  BRANDS
================================================
*/
.brands {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem; }

.brands > * {
  height: 4rem;
  flex-basis: 13rem;
  max-width: 15rem;
  flex-grow: 1; }

/*
// GRID
.brands {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 3rem;
}
*/
.brands img {
  margin-inline: auto; }

/*  DOWNLOAD
================================================
*/
.download {
  margin-top: 10rem;
  text-align: center; }
  .download > * + * {
    margin-top: 3rem; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNvbXAuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzs7Q0FHQztBQUNEOzs7Q0FHQztBQUNEOzs7RUFHRSxTQUFTO0VBQ1QsVUFBVTtFQUNWLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLHNCQUFzQjtFQUN0QixnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSx1Q0FBdUM7RUFDdkMsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxjQUFjO0VBQ2QsZUFBZSxFQUFFOztBQUVuQjs7RUFFRSxnQkFBZ0I7RUFDaEIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGlCQUFpQjtFQUNqQixvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxjQUFjLEVBQUU7O0FBRWxCO0VBQ0UsaUJBQWlCO0VBQ2pCLG1CQUFtQjtFQUNuQix5QkFBeUI7RUFDekIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsWUFBWTtFQUNaLFdBQVcsRUFBRTs7QUFFZjtFQUNFLGFBQWE7RUFDYixlQUFlO0VBQ2YsdUJBQXVCO0VBQ3ZCLHVCQUF1QjtFQUN2QixTQUFTLEVBQUU7O0FBRWI7RUFDRSxnQkFBZ0I7RUFDaEIsU0FBUztFQUNULFVBQVU7RUFDVixhQUFhO0VBQ2IsY0FBYyxFQUFFO0VBQ2hCO0lBQ0UsaUJBQWlCLEVBQUU7SUFDbkI7TUFDRTtRQUNFLGVBQWU7UUFDZixzQkFBc0IsRUFBRSxFQUFFO0VBQ2hDO0lBQ0U7TUFDRSwyREFBMkQsRUFBRSxFQUFFO0VBQ25FO0lBQ0UsY0FBYztJQUNkLHFCQUFxQjtJQUNyQixnQkFBZ0IsRUFBRTtJQUNsQjtNQUNFLGNBQWMsRUFBRTs7QUFFdEI7RUFDRSxxQkFBcUI7RUFDckIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YsV0FBVztFQUNYLFlBQVk7RUFDWixlQUFlLEVBQUU7RUFDakI7SUFDRSx5QkFBeUIsRUFBRTs7QUFFL0I7RUFDRSxpQkFBaUIsRUFBRTs7QUFFckI7OztDQUdDO0FBQ0Q7RUFDRSxrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLHFEQUFxRDtFQUNyRCwrQkFBK0I7RUFDL0IsNEJBQTRCO0VBQzVCLHNCQUFzQixFQUFFO0VBQ3hCO0lBQ0U7TUFDRSxzREFBc0QsRUFBRSxFQUFFO0VBQzlEO0lBQ0UsYUFBYTtJQUNiLHNCQUFzQjtJQUN0QixtQkFBbUI7SUFDbkIsU0FBUyxFQUFFO0VBQ2I7SUFDRSxtQkFBbUIsRUFBRTs7QUFFekI7O0NBRUM7QUFDRDtFQUNFLDhCQUE4QjtFQUM5QixtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSw2QkFBNkI7RUFDN0IsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsZUFBZTtFQUNmLFNBQVM7RUFDVCxvQkFBb0I7RUFDcEIsb0JBQW9CO0VBQ3BCLGdCQUFnQjtFQUNoQix3QkFBd0I7RUFDeEIsV0FBVztFQUNYLGdEQUFnRDtFQUNoRCxvQkFBb0IsRUFBRTtFQUN0QjtJQUNFLGFBQWE7SUFDYixzQkFBc0I7SUFDdEIsU0FBUyxFQUFFO0lBQ1g7TUFDRTtRQUNFLG1CQUFtQjtRQUNuQix1QkFBdUIsRUFBRSxFQUFFO0VBQ2pDO0lBQ0UseUJBQXlCLEVBQUU7RUFDN0I7SUFDRSx5QkFBeUIsRUFBRTtFQUM3QjtJQUNFLDhCQUE4QjtJQUM5QiwwQ0FBMEMsRUFBRTtFQUM5QztJQUNFLDJCQUEyQjtJQUMzQiw4Q0FBOEM7SUFDOUMsd0VBQXdFLEVBQUU7O0FBRTlFO0VBQ0UsYUFBYTtFQUNiLGVBQWU7RUFDZix1QkFBdUI7RUFDdkIsdUJBQXVCO0VBQ3ZCLFNBQVMsRUFBRTtFQUNYO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxnQkFBZ0I7SUFDaEIsNENBQTRDO0lBQzVDLFlBQVksRUFBRTs7QUFFbEI7RUFDRSxtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxtQkFBbUIsRUFBRTs7QUFFdkI7OztDQUdDO0FBQ0Q7O0NBRUM7QUFDRDtFQUNFLGlCQUFpQjtFQUNqQixrQkFBa0IsRUFBRTtFQUNwQjtJQUNFLG1CQUFtQixFQUFFO0VBQ3ZCO0lBQ0UsU0FBUyxFQUFFO0VBQ2I7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFO01BQ0UsYUFBYTtNQUNiLG1CQUFtQjtNQUNuQixTQUFTO01BQ1QsMkJBQTJCLEVBQUU7TUFDN0I7UUFDRSxlQUFlLEVBQUUsRUFBRTtFQUN6QjtJQUNFLGdCQUFnQixFQUFFO0lBQ2xCO01BQ0UsaUJBQWlCO01BQ2pCLG1CQUFtQixFQUFFO0lBQ3ZCO01BQ0U7UUFDRSxXQUFXO1FBQ1gsZ0JBQWdCO1FBQ2hCLDBCQUEwQixFQUFFLEVBQUU7RUFDcEM7SUFDRSxnQkFBZ0IsRUFBRTtJQUNsQjtNQUNFO1FBQ0UsYUFBYTtRQUNiLGdCQUFnQjtRQUNoQixnQkFBZ0I7UUFDaEIsZ0JBQWdCLEVBQUUsRUFBRTtJQUN4QjtNQUNFLGdCQUFnQixFQUFFOztBQUV4Qjs7Q0FFQztBQUNEO0VBQ0UsaUJBQWlCO0VBQ2pCLGtCQUFrQixFQUFFO0VBQ3BCO0lBQ0UsZ0JBQWdCLEVBQUU7O0FBRXRCOztDQUVDO0FBQ0Q7RUFDRSxrQkFBa0IsRUFBRTtFQUNwQjtJQUNFLGdCQUFnQjtJQUNoQixhQUFhO0lBQ2Isc0JBQXNCO0lBQ3RCLG1CQUFtQjtJQUNuQixTQUFTLEVBQUU7SUFDWDtNQUNFLFlBQVksRUFBRTs7QUFFcEI7O0NBRUM7QUFDRDtFQUNFLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2IsZUFBZTtFQUNmLG1CQUFtQjtFQUNuQix1QkFBdUI7RUFDdkIsU0FBUyxFQUFFOztBQUViO0VBQ0UsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsWUFBWSxFQUFFOztBQUVoQjs7Ozs7Ozs7Q0FRQztBQUNEO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCOztDQUVDO0FBQ0Q7RUFDRSxpQkFBaUI7RUFDakIsa0JBQWtCLEVBQUU7RUFDcEI7SUFDRSxnQkFBZ0IsRUFBRSIsImZpbGUiOiJzdHlsZS5wcmVmaXguY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyo9PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT1cclxuICAgIFZBUklBQkxFU1xyXG4gID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PVxyXG4qL1xuLyo9PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT1cclxuQkFTRSBTVFlMRVNcclxuPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09XHJcbiovXG4qLFxuKjo6YmVmb3JlLFxuKjo6YWZ0ZXIge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGJveC1zaXppbmc6IGluaGVyaXQ7IH1cblxuaHRtbCB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIGZvbnQtc2l6ZTogNjIuNSU7IH1cblxuYm9keSB7XG4gIGZvbnQtZmFtaWx5OiBcIkJhaSBKYW1qdXJlZVwiLCBzYW5zLXNlcmlmO1xuICBmb250LXNpemU6IDEuOHJlbTtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgbGluZS1oZWlnaHQ6IDEuNTsgfVxuXG5pbWcge1xuICBkaXNwbGF5OiBibG9jaztcbiAgbWF4LXdpZHRoOiAxMDAlOyB9XG5cbmgxLFxuaDIge1xuICBmb250LXdlaWdodDogNjAwO1xuICBjb2xvcjogIzRjNTQ1ZDsgfVxuXG5oMSB7XG4gIGZvbnQtc2l6ZTogMy41cmVtO1xuICBsZXR0ZXItc3BhY2luZzogLTFweDsgfVxuXG5oMiB7XG4gIGZvbnQtc2l6ZTogMi41cmVtOyB9XG5cbnAge1xuICBjb2xvcjogIzlmYWJiMjsgfVxuXG5mb290ZXIge1xuICBtYXJnaW4tdG9wOiAxMHJlbTtcbiAgcGFkZGluZy1ibG9jazogNXJlbTtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2U4ZThlODtcbiAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG5cbi5mb290ZXJfX2xvZ28ge1xuICBoZWlnaHQ6IDRyZW07XG4gIHdpZHRoOiA0cmVtOyB9XG5cbi5mb290ZXJfX2ZsZXgge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LXdyYXA6IHdyYXA7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcbiAgZ2FwOiAzcmVtOyB9XG5cbi5mb290ZXJfX25hdiB7XG4gIGxpc3Qtc3R5bGU6IG5vbmU7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC1nYXA6IDFyZW07IH1cbiAgLmZvb3Rlcl9fbmF2LWNvbnRhaW5lciB7XG4gICAgZmxleC1iYXNpczogMzByZW07IH1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAzNC4zNzVlbSkge1xuICAgICAgLmZvb3Rlcl9fbmF2LWNvbnRhaW5lciB7XG4gICAgICAgIGZsZXgtYmFzaXM6IDcwJTtcbiAgICAgICAganVzdGlmeS1zZWxmOiBmbGV4LWVuZDsgfSB9XG4gIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDM0LjM3NWVtKSB7XG4gICAgLmZvb3Rlcl9fbmF2IHtcbiAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KGF1dG8tZml0LCBtaW5tYXgoMTJyZW0sIDFmcikpOyB9IH1cbiAgLmZvb3Rlcl9fbmF2IGEge1xuICAgIGNvbG9yOiAjNGM1NDVkO1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBmb250LXdlaWdodDogNTAwOyB9XG4gICAgLmZvb3Rlcl9fbmF2IGE6aG92ZXIge1xuICAgICAgY29sb3I6ICMyNmJhYTQ7IH1cblxuLmljb24ge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgZm9udC1zaXplOiAxLjhyZW07XG4gIHBhZGRpbmc6IDAuNXJlbTtcbiAgd2lkdGg6IDNyZW07XG4gIGhlaWdodDogM3JlbTtcbiAgY3Vyc29yOiBwb2ludGVyOyB9XG4gIC5pY29uOmhvdmVyIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMjZiYWE0OyB9XG5cbi5zb2NpYWxzIC5pY29uICsgLmljb24ge1xuICBtYXJnaW4tbGVmdDogMXJlbTsgfVxuXG4vKj09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PVxyXG5IRUFERVIgU1RZTEVTXHJcbj09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PVxyXG4qL1xuLmhlYWRlciB7XG4gIHBhZGRpbmctdG9wOiAxMHJlbTtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoLi4vaW1hZ2VzL2JnLWhlYWRlci1tb2JpbGUucG5nKTtcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogdG9wIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjsgfVxuICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAzNC4zNzVlbSkge1xuICAgIC5oZWFkZXIge1xuICAgICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKC4uL2ltYWdlcy9iZy1oZWFkZXItZGVza3RvcC5wbmcpOyB9IH1cbiAgLmhlYWRlcl9fY29udGFpbmVyIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBnYXA6IDNyZW07IH1cbiAgLmhlYWRlcl9fbG9nbyB7XG4gICAgbWFyZ2luLWJvdHRvbTogM3JlbTsgfVxuXG4vKiAgVVRJTElUWSBDT01QT05FTlRTXHJcbj09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PVxyXG4qL1xuLmNvbnRhaW5lciB7XG4gIHdpZHRoOiBjYWxjKG1pbigxMTByZW0sIDkwdncpKTtcbiAgbWFyZ2luLWlubGluZTogYXV0bzsgfVxuXG4uY29udGFpbmVyX19zbWFsbCB7XG4gIHdpZHRoOiBjYWxjKG1pbig2OHJlbSwgOTB2dykpO1xuICBtYXJnaW4taW5saW5lOiBhdXRvOyB9XG5cbi5oZWFkZXIgLmJ0bl9fY29udGFpbmVyIHtcbiAgYWxpZ24tc2VsZjogc3RyZXRjaDsgfVxuXG4uYnRuIHtcbiAgY3Vyc29yOiBwb2ludGVyO1xuICBib3JkZXI6IDA7XG4gIGJvcmRlci1yYWRpdXM6IDEwMHB4O1xuICBmb250LWZhbWlseTogaW5oZXJpdDtcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgcGFkZGluZzogMS4yNXJlbSAzLjI1cmVtO1xuICBjb2xvcjogI2ZmZjtcbiAgYm94LXNoYWRvdzogMCAwLjc1cmVtIDFyZW0gcmdiYSg3NiwgODQsIDkzLCAwLjIpO1xuICB0cmFuc2l0aW9uOiBhbGwgMC4yczsgfVxuICAuYnRuX19jb250YWluZXIge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBnYXA6IDJyZW07IH1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAzNC4zNzVlbSkge1xuICAgICAgLmJ0bl9fY29udGFpbmVyIHtcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH0gfVxuICAuYnRuLS1pb3Mge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICMyNmJhYTQ7IH1cbiAgLmJ0bi0tbWFjIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNjE3M2ZmOyB9XG4gIC5idG46aG92ZXIge1xuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtMC4zcmVtKTtcbiAgICBib3gtc2hhZG93OiAwIDFyZW0gMnJlbSByZ2JhKDAsIDAsIDAsIDAuMik7IH1cbiAgLmJ0bjphY3RpdmUge1xuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtMXB4KTtcbiAgICBib3gtc2hhZG93OiAwIDAuNXJlbSAwLjdyZW0gcmdiYSgwLCAwLCAwLCAwLjQpO1xuICAgIC8qIGRlY3JlbWVudCBibHVycnkgaW4gdGhlIHNhbWUgcHJvcG9ydGlvbiBhcyBZIHRvIGdldCB0aGUgYmVzdCBlZmZlY3RzKi8gfVxuXG4uZmxleF9fc3RhY2sge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LXdyYXA6IHdyYXA7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcbiAgZ2FwOiAxcmVtOyB9XG4gIC5mbGV4X19zdGFjayA+ICoge1xuICAgIGZsZXgtYmFzaXM6IDEwMCU7IH1cbiAgLmZsZXhfX3N0YWNrLS13cmFwIHtcbiAgICBtYXgtd2lkdGg6IDQ1cmVtO1xuICAgIGZsZXgtYmFzaXM6IGNhbGMoXHIgY2FsYyg4MHJlbSAtIDEwMCUpICogOTk5KTtcbiAgICBmbGV4LWdyb3c6IDE7IH1cblxuLm1hcmdpbi1ib3R0b21fX3NtYWxsIHtcbiAgbWFyZ2luLWJvdHRvbTogMXJlbTsgfVxuXG4ubWFyZ2luLWJvdHRvbV9fYmlnIHtcbiAgbWFyZ2luLWJvdHRvbTogNHJlbTsgfVxuXG4vKj09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PVxyXG5NQUlOICYgQVJUSUNMRSBTVFlMRVNcclxuPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09XHJcbiovXG4vKiAgVFJBQ0tcclxuPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09XHJcbiovXG4udHJhY2sge1xuICBtYXJnaW4tdG9wOiAxMHJlbTtcbiAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG4gIC50cmFja19faGVhZGluZyB7XG4gICAgbWFyZ2luLWJvdHRvbTogOHJlbTsgfVxuICAudHJhY2suZmxleF9fc3RhY2sge1xuICAgIGdhcDogNXJlbTsgfVxuICAudHJhY2sgPiAuZmxleF9fc3RhY2stLXdyYXAge1xuICAgIHRleHQtYWxpZ246IGxlZnQ7IH1cbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNTBlbSkge1xuICAgIC50cmFja19fZmVhdHVyZSB7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICAgIGdhcDogNXJlbTtcbiAgICAgIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDsgfVxuICAgICAgLnRyYWNrX19mZWF0dXJlID4gKiB7XG4gICAgICAgIGZsZXgtYmFzaXM6IDUwJTsgfSB9XG4gIC50cmFja19fZGVza3RvcCB7XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjsgfVxuICAgIC50cmFja19fZGVza3RvcCA+IGltZyB7XG4gICAgICBtYXgtaGVpZ2h0OiA0MHJlbTtcbiAgICAgIG1hcmdpbi1pbmxpbmU6IGF1dG87IH1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA1MGVtKSB7XG4gICAgICAudHJhY2tfX2Rlc2t0b3AgPiBpbWcge1xuICAgICAgICB3aWR0INDX( 	 ,…r
          (   8   Ë           Ÿ   Ÿ                        z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ      ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    Â˙öûñøŸ%J≤]ú¡Ÿ~˝`ú¡Ÿ%J≤]ú¡Ÿ       ˝	              1 5 3 2 2                  z    ã”çŸîøŸh-/™ú¡Ÿ≈dª≠ú¡Ÿh-/™ú¡Ÿ       {              1 5 7 0 5                  z    ã”çŸîøŸh-/™ú¡Ÿ≈dª≠ú¡Ÿh-/™ú¡Ÿ       {              1 5 7 0 5                 z    ã”çŸîøŸh-/™ú¡Ÿ≈dª≠ú¡Ÿh-/™ú¡Ÿ       {              1 5 7 0 5                  z    ã”çŸîøŸh-/™ú¡Ÿ≈dª≠ú¡Ÿh-/™ú¡Ÿ       {              1 5 7 0 5                  z    ã”çŸîøŸh-/™ú¡Ÿ≈dª≠ú¡Ÿh-/™ú¡Ÿ       {              1 5 7 0 5                  z    ã”çŸîøŸh-/™ú¡Ÿ≈dª≠ú¡Ÿh-/™ú¡Ÿ       {              1 5 7 0 5                  z    ã”çŸîøŸIËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ       }              1 6 1 1 2                  z    ã”çŸîø IËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ       }              1 6 1 1 2                  z    ã”çŸîøŸIËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ       }              1 6 1 1 2                  z    ã”çŸîøŸIËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ       }              1 6 1 1 2                  z    ã”çŸîøŸIËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ       }              1 6 1 1 2                  z    ã”çŸîøŸIËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ       }              1 6 1 1 2                  z    ã”çŸîøŸIËsUú¡Ÿ #§]ú¡ŸIËsUú¡Ÿ      }              1 6 1 1 2   